<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Student Dashboard</h1>
      <div class="container">
        <h2>this is a student dashboard</h2>
        
        <a href="{% url 'student_courses' %}">My Courses</a>
        
        
    </div>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}


    {% if not user.student %}
    <a href="{% url 'student_create' %}">Create Profile</a>
    {% else %}
    <a href="{% url 'student_profile' %}">View Profile</a>
    {% endif %}

    <!-- logout here -->
    <a href="{% url 'confirm' %}">Logout</a>


    
    <!--  -->
    
</body>
    
</html>
